<div class="container">
	<h2>Crear nuevo cliente</h2>
	<form method="POST" (ngSubmit)="onSubmit()" #clienteForm="ngForm">
		<div class="form-group">
			<label>Número de cédula</label>
			<input type="number" min="0" [(ngModel)]="cliente.numero_cedula" name="numero_cedula" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Nombres</label>
			<input type="text" [(ngModel)]="cliente.nombre" name="nombre" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Apellidos</label>
			<input type="text" [(ngModel)]="cliente.apellido" name="apellido" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Dirección de residencia</label>
			<input type="text" [(ngModel)]="cliente.direccion_residencia" name="direccion_residencia" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Número telefónico</label>
			<input type="number" min="0" [(ngModel)]="cliente.numero_telefonico" name="numero_telefonico" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Número celular</label>
			<input type="number" min="0" [(ngModel)]="cliente.numero_celular" name="numero_celular" class="form-control" required>
		</div>
		<div class="form-group">
			<label>Correo electrónico</label>
			<input type="Email" [(ngModel)]="cliente.email" name="email" class="form-control" required>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-success" [disabled]="!clienteForm.form.valid">Enviar</button>
		</div>
	</form>
</div>